In [1]:
#First, lets import all the libraries to be used on this notebook
import pandas as pd
import numpy as np
import requests
print('Libraries Imported!')

Libraries Imported!

In [2]:
#Download page and store locally
url  = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = requests.get(url)
if page.status_code == 200:
    print('Page download successful')
else:
    print('Page download error. Error code: {}'.format(page.status_code))

Page download successful

In [30]:
#read_html
#convert "Not Assigned" to NaN to use dropna
df_html = pd.read_html(url, na_values = ['Not assigned'])[0]
df_html.head()

  Postal Code           Borough               Neighborhood
0         M1A               NaN                        NaN
1         M2A               NaN                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [31]:
#Drop the the rows on which the Borough is empty
df_html.dropna(subset=['Borough'], inplace=True)
df_html.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [32]:
#show the row with neighborhood = NaN
df_html[df_html['Neighborhood'].isna()]

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [33]:
#double check
n_empty_neighborhood = df_html[df_html['Neighborhood'].isna()].shape[0]
print('Number of rows on which Neighborhood column is empty: {}'.format(n_empty_neighborhood))

Number of rows on which Neighborhood column is empty: 0

In [34]:
#Shape of the dataset
print('The shape of the dataset is:',df_html.shape)

The shape of the dataset is: (103, 3)

In [35]:
#Export dataset to .csv file
df_html.to_csv('Toronto_PostalCodes.csv')